<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>ユーザー情報</h2>
      <%= render 'users/info', user: @user %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>記事一覧(画像をクリックしてください！）</h2>
      <%= render 'index', reptiles: @reptiles%>

    </div>
  </div>
</div>